.App {
  padding: 1.25% 2.5%;
  position: relative;
  width: 58vw;
  height: 100vh;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #d5d5d5;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

p {
  margin-bottom: 2%;
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: clamp(1.8rem, 2.7vw, 2.7rem);
  color: black;
}

.App-sub-head {
  color: rgb(80, 80, 80);
  font-size: 75%;
}

.image-wrapper {
  column-count: 3;
  column-gap: 12px;
}

.image-wrapper img {
  display: block;
  width: 100%;
}

.image-container {
  position: relative;
  margin-bottom: 12px;
}

.overlay {
  background-image: linear-gradient(to top left, rgba(255, 0, 0, 0), 50%, rgba(255, 255, 255, 0.7) 50% 100%);
  text-align: left;
  font-size: clamp(0.8rem, 0.8vw, 1.1rem);
  padding: 6% 30% 4% 4%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.85s;
  cursor: pointer;
}

@media (hover: hover) {
  .overlay:hover {
    opacity: 1;
  }

  i:hover {
    color: rgb(51, 63, 234);
  }
}

.bold {
  font-weight: 700;
}

.icons {
  list-style: none;
  display: flex;
  margin-top: 0.8%;
}

i {
  font-size: clamp(1.4rem, 1.9vw, 1.7rem);
  margin-right: 25px;
  color: black;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .image-wrapper {
    display: flex;
    flex-direction: column;
  }

  .image-wrapper img {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .App {
    width: 95vw;
    overflow: auto;
  }

  .icons {
    margin-top: 1.5%;
  }
}

@media only screen and (max-width: 1024px) {
  .image-wrapper {
    column-count: 2;
  }

  .App {
    width: 85vw;
    overflow: auto;
  }

  .icons {
    margin-top: 1.5%;
  }
}