.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: all 750ms;
}

.modal-enter img {
  opacity: 0;
  transform: scale(0.6);
}

.modal-enter-active img {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms;
}

.modal-exit img {
  opacity: 1;
  transform: scale(1);
}

.modal-exit-active img {
  opacity: 0;
  transform: scale(0.6);
  transition: all 750ms;
}

.modal img {
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.85);
  max-width: 60vh;
  display: block;
}

.close {
  margin-left: auto;
  width: fit-content;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

@media (hover: hover) {
  .close:hover {
    color: rgb(184, 0, 0);
  }
}